@font-face {      
font-family: "Sitka";      
src: url('"../fonts/sitka-small-599.ttf"') format('truetype'), url('"../fonts/sitka-small-652.ttf"') format('truetype'),
url('"../fonts/sitka-small-815.ttf"') format('truetype');    
}

:root{
	--color-hover-menu:#DECC80;
	--color-titulos:#6B5141;
}

body{
	font-family: "Sitka", sans-serif;
	background-color: #EDEDED;
}

.freshcoffeelogo{
	width: 85px;
	margin-left: 40%;
}

.navbar{
	border-radius: 65px;
}

.bg-light{
	background-color: #FFF8DD !important;
}

.nav-link{
	font-size: 20px;
	font-family: 'Sitka Subheading Semibold';
	color: #918763;
}
.nav-item i{
	font-size: 35px;
}

/* ----------------------------------------------------------------------------------------------------------------*/

header{
	position: absolute;
	width: 100%;
	margin-top: 40px;
	background-color: #A79C72;
}

#color{
	background-color: #A79C72;
	padding: 100px;
}

.ms-auto{
	margin-right: 3%;
}

/* ----------------------------------------------------------------------------------------------------------------*/
.menu-text{
	text-align: center;
	padding-top: 95px;
	color:#0D1923;
	font-size: 45px;
	font-family: "Sitka Subheading Semibold";
}
.subtext-line{
	width: 4%;
	text-align: center;
	margin: 0 auto;
	border-width: 4px;
	background-color: #6B5141; height: 3px; border: 0;
	opacity: 90%;
	margin-bottom: 50px;
}

/* ----------------------------------------------------------------------------------------------------------------*/
.menu-navbar{
	padding: 15px 30px;
	font-family: "Sitka Subheading Semibold";
	font-size: 20px;
	border: 2px solid #6B5141;
	border-radius: 40px;
	display: block;
	margin-bottom: 20px;
}
.menu-navbar:hover{
	background-color: #6B5141;
	color: #fff;
}
.menu-navbar.active{
	background-color: #6B5141;
	color: #fff;
}
a{
	text-decoration: none;
	color: #0D1923;
}

/* ----------------------------------------------------------------------------------------------------------------*/
#menu-cards{
	padding-top: 50px;
	padding-bottom: 40px;
}
.cafeinfo{
padding-bottom: 2%;
color: #0D1923;
}

.card-body{
	margin-bottom: 5%;
}

.card-titles{
	font-size: 28px;
	text-align: center;
	font-family: "Sitka Heading";
}

.subtext-line-menu{
	width: 25%;
	text-align: center;
	margin: 0 auto;
	border-width: 4px;
	background-color: #6B5141; height: 3px; border: 0;
	opacity: 90%;
	margin-bottom: 20px;
}

.card-info{
	text-align: center;
	font-family: "Sitka Text";
	font-size: 22px;
	padding-bottom: 2%;
	
}

.btn-primary{
	background-color: #6B5141;
	border: none;
	width: 45% !important;
	font-family:"Sitka Heading Semibold";
	font-size: 18px;
}

.btn-primary:hover{
	background-color:var(--color-hover-menu);
	border: none;
	width: 45% !important;
	font-family:"Sitka Heading Semibold";
	font-size: 18px;
	color:var(--color-titulos);
}

/* ----------------------------------------------------------------------------------------------------------------*/

footer{
	background-color: #FFF8DD;
	color:#0D1923;
	text-align: left;
	padding: 25px;	
}

verde{
padding-top: 10px;
}

.redondeado {
text-align: left;
border-radius: 15px;
border-color: #6B5141;
width: 65% !important;
padding-left: 3%;
font-family: "Sitka Text ";
font-size: 17px;
}

.enviar{
	text-align: left;
	border-radius: 15px;
	background-color: #DECC80;
	border-color: #6B5141;
	font-family: "Sitka Text ";
    font-size: 17px;
	
}

input[type="text"] {
    width: 200px;
}

.contactanos{
	font-family: "Sitka Display";
	font-size: 18px;
}

h5{
	font-family: "Sitka Subheading Semibold";
	font-size: 22px;
}

.txt{
	font-family: "Sitka Display";
	font-size: 18px;
	margin-bottom: 1%;
}

.registro-txt{
	font-family: "Sitka Display";
	font-size: 18px;
	padding-top: 10px;
}

.info{
	padding-bottom: 40px;
}

.linea{
	border-width: 4px;
	background-color: #6B5141; height: 3px; border: 0;
	opacity: 90%;
}

.logofooter{
	width: 130px;
	padding-top: 10px;
}

.redes{
	width: 40px;
}

.btn-outline-primary{
	background-color: #DECC80;
	border-radius: 100px;
	border-color: #6B5141;
	font-family: "Sitka Text ";
    font-size: 17px;
	/*width: 17% !important;*/	
}

.boton-footer{
	background-color: #FFF8DD;
	border: #FFFFFF;
}
footer i{
	color:var(--color-cafe-oscuro);
	font-size: 30px;
}
footer a{
	text-decoration: none;
	color: #0D1923;
}
